*{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}



.calculator{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 50px auto;
    gap: 20px;
    padding: 20px;
    background-color: rgb(132, 174, 251);
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mistake{
    display: flex;
    gap: 10px;

}

.mistake button{
    flex:1 1 0;
    padding: 20px;
    border: black 2px solid;
}






.display{
    display: flex;
    background-color: bisque;
    height: 50px ;
    border-radius: 5px;
    padding: 10px;
    border: black 2px solid;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap : 8px;
}

.display p {
    font-size: 30px;
}

.col button{
    width: 60px;
    height: 60px;
    border: black 1px solid;
    border-radius: 5px;
}


button:hover{
    background-color: bisque;
}
button:active{
    background-color: red;
}