*{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}



.calculator{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 100px auto;
    gap: 20px;
    padding: 20px;
    background-color: rgb(170, 170, 170);
    border: black 2px solid;
    border-radius: 15px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mistake{
    display: flex;
    gap: 10px;

}

.mistake button{
    flex:1 1 0;
    padding: 20px;
    border: black 2px solid;
    border-radius: 12px;
    font-size: 21px;
}

.mistake #ac{
    background-color: rgb(238, 153, 153);
}
.mistake #delete{
    background-color: rgb(153, 153, 238);
}



.display{
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 50px ;
    border-radius: 10px;
    padding: 10px;
    border: black 2px solid;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap : 8px;
}

.display p {
    font-size: 30px;
}

.col button{
    width: 70px;
    height: 70px;
    border: black 2px solid;
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
    font-size: 21px;
}


.col button:hover{
    background-color: rgb(132, 237, 251);
}

.col button.operators:hover{
    background-color: rgb(255, 166, 154)
}